language: python
python:
  - "2.5"
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  # does not have headers provided, please ask https://launchpad.net/~pypy/+archive/ppa
  # maintainers to fix their pypy-dev package.
  - "pypy"
# command to run tests
script: 
  - python ./test
  - if [[ $TRAVIS_PYTHON_VERSION == pypy ]]; then python ./translate fi
